body {
    margin: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@font-face {
    font-family: "Free Hand";
    src: url(../fonts/Freeh521.ttf) format("truetype");
}

.header-banner {
    width: 100%;
    height: 600px;
}

.banner1 {
    background-image: url("../img/banner.jpg");
}

.banner2 {
    background-image: url("../img/dog2.jpg");
}

.banner3 {
    background-image: url("../img/dog1.webp");
}

.banner4 {
    background-image: url("../img/cat.jpg");
}

.fadable {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -200px;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}


@keyframes fadeInAndOut {
    0% {
        opacity:1;
    }
    17% {
        opacity:1;
    }
    25% {
        opacity:0;
    }
    92% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.header-banner .fadable {
    animation-name: fadeInAndOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
}
  
.header-banner .fadable:nth-of-type(1) {
    animation-delay: 9s;
}
.header-banner .fadable:nth-of-type(2) {
    animation-delay: 6s;
}
.header-banner .fadable:nth-of-type(3) {
    animation-delay: 3s;
}
.header-banner .fadable:nth-of-type(4) {
    animation-delay: 0;
}

.banner1,
.banner2,
.banner3,
.banner4,
.logo {
    height: 600px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo > .image {
    display: block;
    margin: 0 auto;
    height: 250px;
    border-radius: 55%;
    border: 2px solid #333;
    box-shadow: 0 0 10px #333;
    margin-top: 200px;
}

.header-menu {
    position: relative;
    padding: 10px 16px;
    height: 70px;
    background-image: url("../img/pattern.jpg");
    background-repeat: repeat-x;
    background-size: contain;
    color: #f1f1f1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    left: 0;
    right: 0;
    width: 97.8%;
    z-index: 999;
}

.footer-menu {
    height: 300px;
    background-color: #29333a;
}

.galleria { 
    width: 100%; 
    height: 550px; 
    background: #465864;
    margin: 0 auto;
}

.overlay {
    position: absolute;
    width: 97.8%;
    height: 80%;
    background: rgba(0,0,0,0.5);
    margin: -10px -16px;
    padding: 10px 16px;
}

.header-menu .titulo{
    font-family: "Free Hand", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}

.titulo-menu .destaque-amarelo{
    color: #FBCA44;
}

.menu-list {
    margin-right: 30px;
}
  
.content {
    padding: 16px;
}
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.item-menu {
    margin-top: 0px;
    margin-bottom: 0px;
    float: right;
    padding: 20px;
    font-size: 24px;
    background-color: #3FB8A6;
    display: block;
    margin-right: 2px;
}

a {
    color: #f1f1f1;
    text-decoration: none;
}

.item-menu > a:hover {
    color: #FBCA44;
    text-decoration: none;
}

.titulo-menu {
    float: left;
    font-size: 24px;
    margin-bottom: 0px;
    margin-top: 15px;
    -webkit-text-stroke: 0.3px #666;
}

.clientes,
.produtos,
.lojas {
    height: 700px;
}

.produtos {
    height: 750px;
}

.servicos,
.produtos {
    background-color: #3FB8A6;
}

.servicos {
    height: 450px;
}

.clientes,
.lojas {
    background-color: #465864;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 100%;
}

.column {
    flex: 1;
    padding: 20px;
}

.card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 100%;
    margin: 0 auto;
    height: 300px;
}

.card-wrapper > .card,
.card-wrapper > .card-unique {
    position: relative;
    flex: 1;
    margin: 10px;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border: 1px solid #333;
    box-shadow: 0 0 10px #333;
}

.card-unique {
    height: 500px;
}

.conheca {
    height: 100px;
    text-align: center;
    padding-top: 30px;
}

.column > h3,
.conheca > h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fff;
    margin: 0 0;
}

.column {
    text-align: left;
}

.anchor {
    display: block;
    height: 90px;
    margin-top: -90px;
    visibility: hidden;
}

.map {
    margin: 0 auto;
    display: block;
}

ul {
  list-style-type: none;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #fff;
}

li {
    padding-top: 10px;
}

i.icon {
    padding-right: 10px;
    font-size: 36px;
}

.carrossel {
    height: 200px;
    margin: 0 auto;
    display: block;
}

.button {
    display: block;
    background-color: #465864;
    color: #fff;
    border-radius: 2%;
    width: 150px;
    height: 30px;
    margin: 0 auto;
    padding-top: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    bottom: 10px;
    right: 160px;
}

.lojas > h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fff;
    text-align: center;
}