body {
    margin: 0px;
}

.banner {
    width: 100%;
    height: 400px;
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.header-menu {
    padding: 10px 16px;
    height: 70px;
    background: #555;
    color: #f1f1f1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    left: 0;
    right: 0;
    width: 100%;
}

.menu-list {
    margin-right: 30px;
}
  
.content {
    padding: 16px;
}
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.item-menu {
    float: right;
    padding-right: 20px;
    margin-top: 25px;
    font-size: 24px;
}

.item-menu > a {
    color: #f1f1f1;
    text-decoration: none;
}

.item-menu > a:hover {
    color: #000;
    text-decoration: none;
}

.titulo-menu {
    float: left;
    font-size: 32px;
    margin-top: 15px;
}

.servicos,
.clientes,
.produtos,
.lojas {
    height: 400px;
}